body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }

  

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    outline: 10px solid red;
  }
  
  .hero-section.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 2px solid red;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust overlay color and opacity */
    opacity: 0.2;
  }
  
  .content {
    position: absolute;
    z-index: 1;
    color: black;
    outline: 2px solid red;
  }
  
  .content h1 {
    font-size: 3rem;
    color: black;
    outline: 2px solid red;
  }
  
  .content p {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .btn-book {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00; /* Adjust button color */
    color: #333; /* Adjust button text color */
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
  }
  
  .btn-book:hover {
    background-color: #ffd633; /* Adjust hover color */
  }